# Node modules
node_modules/

# Entornos
.env

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Producción o builds
dist/
build/

# Archivos de pruebas
coverage/

# Archivos temporales
*.tmp
*.swp
*.swo
